<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{HTTP_HOST} (.*)
    RewriteCond %{REQUEST_URI} /$ [NC]
    RewriteRule ^(.*)(/)$ $1 [L,R=301]

    # BEGIN Caps Redirect
    # If there are caps, set HASCAPS to true and skip next rule
    RewriteRule [A-Z] - [E=HASCAPS:TRUE,S=1]

    # Skip this entire section if no uppercase letters in requested URL
    RewriteRule ![A-Z] - [S=28]

    # Replace single occurance of CAP with cap, then process next Rule.
    RewriteRule ^([^A]*)A(.*)$ $1a$2 [DPI]
    RewriteRule ^([^B]*)B(.*)$ $1b$2 [DPI]
    RewriteRule ^([^C]*)C(.*)$ $1c$2 [DPI]
    RewriteRule ^([^D]*)D(.*)$ $1d$2 [DPI]
    RewriteRule ^([^E]*)E(.*)$ $1e$2 [DPI]
    RewriteRule ^([^F]*)F(.*)$ $1f$2 [DPI]
    RewriteRule ^([^G]*)G(.*)$ $1g$2 [DPI]
    RewriteRule ^([^H]*)H(.*)$ $1h$2 [DPI]
    RewriteRule ^([^I]*)I(.*)$ $1i$2 [DPI]
    RewriteRule ^([^J]*)J(.*)$ $1j$2 [DPI]
    RewriteRule ^([^K]*)K(.*)$ $1k$2 [DPI]
    RewriteRule ^([^L]*)L(.*)$ $1l$2 [DPI]
    RewriteRule ^([^M]*)M(.*)$ $1m$2 [DPI]
    RewriteRule ^([^N]*)N(.*)$ $1n$2 [DPI]
    RewriteRule ^([^O]*)O(.*)$ $1o$2 [DPI]
    RewriteRule ^([^P]*)P(.*)$ $1p$2 [DPI]
    RewriteRule ^([^Q]*)Q(.*)$ $1q$2 [DPI]
    RewriteRule ^([^R]*)R(.*)$ $1r$2 [DPI]
    RewriteRule ^([^S]*)S(.*)$ $1s$2 [DPI]
    RewriteRule ^([^T]*)T(.*)$ $1t$2 [DPI]
    RewriteRule ^([^U]*)U(.*)$ $1u$2 [DPI]
    RewriteRule ^([^V]*)V(.*)$ $1v$2 [DPI]
    RewriteRule ^([^W]*)W(.*)$ $1w$2 [DPI]
    RewriteRule ^([^X]*)X(.*)$ $1x$2 [DPI]
    RewriteRule ^([^Y]*)Y(.*)$ $1y$2 [DPI]
    RewriteRule ^([^Z]*)Z(.*)$ $1z$2 [DPI]

    # If there are any uppercase letters, restart at very first RewriteRule in file.
    RewriteRule [A-Z] - [N]

    RewriteCond %{ENV:HASCAPS} TRUE
    RewriteRule ^/?(.*) /$1 [R=301,L]
    # END Caps Redirect

# ->www
#RewriteCond %{HTTP_HOST} ^([^www].*)$
#RewriteRule ^(.*)$ http://www.%1/$1 [L,R=301]

#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

#add slash
#RewriteCond %{REQUEST_URI} !\?
#RewriteCond %{REQUEST_URI} !\&
#RewriteCond %{REQUEST_URI} !\=
#RewriteCond %{REQUEST_URI} !\.
#RewriteCond %{REQUEST_URI} !\/$
#RewriteRule ^(.*[^\/])$ /$1/ [R=301,L]

# if a directory or a file exists, use the request directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward the request to index.php
RewriteRule . index.php

</IfModule>